<header>
			<h1>java帝国とrails軍団の技術ブログ</h1>
		</header>
		<nav id="nav">
			<div class="ym-hlist" >
				<ul>
					<li class="active"><strong>Home</strong></li>
					<li><a href="#">about us</a></li>
					<li><a href="#">writers</a></li>
				</ul>
				<form class="ym-searchform" method="get" action="find">
					<input class="ym-searchfield" type="search" placeholder="Search..." name="search" />
					<input class="ym-searchbutton" type="submit" value="Search" />
				</form>
			</div>
		</nav>