<!DOCTYPE html>
<html>
<head>
  <title>java帝国とrails軍団の技術ブログ | </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <style href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.0/foundation-flex.min.css"></style>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

	<link href="./css/flexible-columns.css" rel="stylesheet" type="text/css"/>

	<!--[if lt IE 9]>
	<script src="../lib/html5shiv/html5shiv.js"></script>
	<![endif]-->
</head>
<body>

<%= yield %>

</body>
</html>
